DB_HOST=localhost
DB_PORT=5432
DB_NAME=artify_db
DB_USERNAME=postgres
DB_PASSWORD=Neeraj@2006

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRATION_MS=86400000

PORT=8081
FRONTEND_URL=http://localhost:5173